.dancing-script{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

#topList{
    background-color:#001B79; /* #000000;/* #0000ff; #01B79*/
    list-style-type:none;
    padding: 20px; /* Increase the padding */
}

#topList li{
    display: inline;
}

li a{
    color: #FFD700; /*white;*/
    text-decoration: none;
    padding: 10px 15px;
}

li a:hover{
    color:#001B79;/* #0000ff; /*#87CEEB;#f6744f;*/
    background-color:white;
}

.center-heading{
    text-align:center;
    color:#B31312;
}

.myButtons{
margin-top:9px ;
    border: none;
    background-color: #001B79;/* #0000ff;*/
    color:#FFD700;
}
/*
body{
    background-image: url("strathmoreLogo\ black.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 50%;
}*/

#image{
    display: block;
    margin: auto;
}

.myCourses{
    color:#B31312;
}

option{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color:#B31312;
    font-weight: bold;   
}

body{
    background-color: #FFE5B4;
}
 
.pageBottom{
    background-color:#001B79; /* #000000;/* #0000ff; #01B79*/
    list-style-type:none;
    padding: 20px; /* Increase the padding */
    color:#FFD700;
}

span a{
    color:white;
    text-decoration:none;
}
span a:hover{
    color:#B31312;
}

.myIcons{
    color:white;
    text-decoration:none;
    margin: 10px;/*this increases space between the i elements*/
}

.myIcons:hover{
    color:#FFD700;
}

.myLocationIcon{
    text-decoration:none;
    color:black;
}

.myLocationIcon:hover{
    color:#B31312;
}
/*feedBackForm Styling*/
input[class="check_1"] + label[class="check_1"]{
    color:black;
    cursor: pointer;
}
input[class="check_1"]:checked + label[class="check_1"]{
    color: #d00000;
}

input[class="check_2"] + label[class="check_2"]{
    color:black;
    cursor: pointer;
}
input[class="check_2"]:checked + label[class="check_2"]{
    color:#6c757d ; 
}

input[class="check_3"] + label[class="check_3"]{
    color:black;
    cursor: pointer;
}
input[class="check_3"]:checked + label[class="check_3"]{
    color: #e85d04;
}

input[class="check_4"] + label[class="check_4"]{
    color:black;
    cursor: pointer;
}
input[class="check_4"]:checked + label[class="check_4"]{
    color: #dda15e;
}

input[class="check_5"] + label[class="check_5"]{
    color:black;
    cursor: pointer;
}
input[class="check_5"]:checked + label[class="check_5"]{
    color: #80b918;
}

.RatingsRadios input[type=radio]{
    display: none;
}

.RatingsRadios label{
    margin: 10px;
}
/*feedBackForm Styling*/

.myButtonz{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-weight: bold;   
    float: left;
    /*text-decoration:none;*/
    /*display: block;*/
    border: 1.5px solid #B31312;
    background-color: #001B79;
    color:#FFD700;
    cursor: pointer;
    font-size: 28px;   
}
.myButtonz:hover{
    background-color:white;
    color:#B31312;
}



